.overlay-container {
  top: 56px; /* '메인품목리스트' 헤더의 실제 위치에 따라 조정하세요 */
  right: 0;
  width: fit-content !important;
  /* min-width: 500px; */
  z-index: 1;
  overflow-y: hidden;
  padding: 10px;
}

.toggle-icon {
  top: 56px;
  width: fit-content;
  z-index: 1;
}
.list-container {
  display: flex;
  background: transparent;
}

.Close {
  display: none;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate {
  width: 250px; /* 또는 원하는 최대 너비 */
  white-space: nowrap; /* 텍스트를 한 줄로 처리 */
  overflow: hidden; /* 넘치는 내용을 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
